{% extends 'base.html.twig' %}

{% block title %}Hello UsersPageController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <div class="container">
            <div class="row align-items-center justify-content-end">
                <div class="col-auto">
                    {{ user_name }}
                </div>
                <div class="col-auto">
                    <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div>
                <form action="{{ path('block_users') }}" method="post" id="blockForm">
                    <input type="hidden" name="actionInputBlock" id="actionInputBlock" value="block">
                    <button type="submit" class="btn btn-primary" name="action" value="block">Block</button>
                </form>
            </div>
            <div>
                <form action="{{ path('unblock_users') }}" method="post" id="unblockForm">
                    <input type="hidden" name="actionInputUnblock" id="actionInputUnblock" value="unblock">
                    <button type="submit" class="btn btn-primary" name="action" value="unblock">UnBlock</button>
                </form>
            </div>
            <div>
                <form action="{{ path('delete_users') }}" method="post" id="deleteForm">
                    <input type="hidden" name="actionInputDelete" id="actionInputDelete">
                    <button type="submit" id="deleteBtn" class="btn btn-danger" name="action" value="delete">Delete</button>
                </form>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" id="checkbox" class="checkAll">
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">e-Mail</th>
                    <th scope="col">Last login</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">
                            <input type="checkbox" name="users[]" value="{{ user.id }}" class="checkbox-element">
                        </th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.dateLastLogin.format('Y-m-d H:i:s') }}</td>
                        <td>{{ user.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
